:root {
    --c1: #1a4f75;
    --c2: #2596be;
    --c3: #201f31;
    --c4: #24b9ef;
    --c5: #2d2b44;
    --c6: #BADEFF;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--c3);
    font-size: 14px;
    padding-top: 167px;
    margin: 0;
}

header {
    font-size: 167px;
    font-weight: bold;
    color: var(--c4);
}

header.project{
    font-size: 67px;
}

header.sub{
    font-size: 130%;
    
    color: var(--c6)
}

nav {
    display: flex;
    opacity: 0.95;
    background-color: var(--c5);
    justify-content: right;
    position: fixed;
    gap: 40px;
    padding: 15px 40px;
    border-radius: 10px;
    width: 80%;
    top: 30px;
    border: 2px solid var(--c3);
    min-width: 500px;
}

nav a{
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 100%;
    transition: background 0.3s;
}

nav img{
    align-self: left;
}

.logo {
    width: 35px;
    height: 35;
    height: auto;
}

nav a:hover {
    background-color: var(--c6);
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.row{
    flex-direction: row;
}


.box {
    background-color: var(--c5);
    color: white;
    width: 670px;
    padding: 10px 20px;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.reg {
    background-color: var(--c6);
    width: 30%;
    border-radius: 10px;
    border: solid 2px white;
    font-weight: bold;
    text-align: center;
}

.reg h2{
    color: var(--c1);

}

.box h3{
    color:#BADEFF;
}

.button {
    background-color: white;
    color: var(--c1);
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    width: 100px;
    border: solid 2px var(--c6);
    border-radius: 15px;
    font-weight: bold;
}