:root {
    --c1: #1a4f75;
    --c2: #2596be;
    --c3: #27c1f2;
    --c4: #24b9ef;
    --c5: #2d2b44;
}

body {
    font-family: "Poppins", sans-serif;
    background-color:;
    font-size: 14px;
    padding-top: 167px;
    margin: 0;
}

header {
    font-size: 167px;
    font-weight: bold;
    line-height: 1.5;
    color: var(--c1);
}

header.sub{
    font-size: 130%;
    color: var(--c3)
}

nav {
    display: flex;
    opacity:0.6;
    background-color: var(--c1);
    justify-content: center;
    position: fixed;
    gap: 40px;
    padding: 5px 0;
    border-radius: 10px;
    width: 80%;
    top: 20px;
    border: 2px groove var(--c1);
    min-width: 500px;
}

nav a{
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 100%;
    transition: background 0.3s;
}

.image {
    width: 300px;
    height: auto;
}

nav a:hover {
    background-color: var(--c5);
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

